@font-face {
    font-family: 'KaushanScriptRegular';
    src: url('../police/KaushanScript-Regular-webfont.eot');
    src: url('../police/KaushanScript-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/KaushanScript-Regular-webfont.woff') format('woff'),
         url('../police/KaushanScript-Regular-webfont.ttf') format('truetype'),
         url('../police/KaushanScript-Regular-webfont.svg#KaushanScriptRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


section {
	
	position : absolute;
	left : 200px;
	top: 400px;
	width:1000px;
	height:933px;
	
	margin:auto;
	
	color:#f28317;
	font-family:'KaushanScriptRegular', Arial;
	font-size:22px;
	text-decoration: none;
	
	
}

